language: node_js
node_js:
  - 10.15
before_install:
  - npm i -g npm@6.4.1
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.13.0
  - export PATH="$HOME/.yarn/bin:$PATH"
cache:
  yarn: true
matrix:
  include:
    - name: "Backend Pipeline"
      env: PACKAGE_LOCATION=backend
    - name: "Frontend Pipeline"
      env: PACKAGE_LOCATION=frontend
script: 
  - cd $PACKAGE_LOCATION
  - yarn install
  - yarn test
after_success:
    - bash <(curl -s https://codecov.io/bash)
