@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	margin: 0px;
}

.container-fluid{
	font-family: 'Open Sans', sans-serif;
}

.header {
	width: 100%;
}

.horizontal-block .align-left {
	float: left;
	width: 45%;
}

.horizontal-block .align-right {
	float: right;
	width: 45%;
}

.horizontal-block {
	width: 95%;
	margin: 20px auto;
	text-align: center;
	display: flow-root;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }